.mainDiv{
    /* display: flex; */

}
.col{
    display: flex;

  
}
 .row{
    height: 25px;
    width: 25px;
    /* color: blue; */
    /* background-color: blue; */
    border: black 1px solid;
}
.row:hover{
    background-color: green;
}