.main-div{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(16, 25px);
}

.block{
background-color: white;
height: 25px; 
width: 25px;
border: grey solid 0.1px;
/*   grid-gap: 0px; */
/*   grid-column-start: 1 ; */
}
.block:hover{
    background-color: blue;
}
.erase{
     background-color: white;
}